@use '../../../app/abstracts' as a;

.--custom-margin-align-center {
  text-align: center;
  margin-top: 1em;
}

.--custom-margin-align-center a {
  font-size: a.$font-size-large !important;
  line-height: 20px !important;
}

.--custom-button-submit {
  font-size: a.$font-size-large !important;
  line-height: 22.68px !important;
}

.--form-button-text-size {
  font-size: 1.3em !important;
  letter-spacing: 0.05em;
}

.--form-tip-font-size {
  display: flex;
  justify-content: center;
  color: a.$gray;
}

.--form-input-field input {
    border: 1px solid #c9c9c9 !important;
}

.--form-input-field input::placeholder {
  color: a.$gray !important;
  font-size: a.$font-size-large !important;
}