.--custom-margin-align-center {
  text-align: center;
  margin-top: 1em;
}

.--custom-margin-align-center a {
  font-size: 17px !important;
  line-height: 20px !important;
}

.--custom-button-submit {
  font-size: 18px !important;
  line-height: 22.68px !important;
}

.--form-button-text-size {
  font-size: 1.3em !important;
  letter-spacing: 0.05em;
}

.--form-tip-font-size {
  font-size: 1.1em;
  color: #7f7f7f;
}

.--form-input-field input {
    border: 1px solid #c9c9c9 !important;
}

.--form-input-field input::placeholder {
  color: #777777 !important;
  font-size: 15px !important;
}