@use '../../../app/abstracts' as a;

.main-content header h1 {
  color: a.$brown !important;
}

.--event-content-section .header {
  font-size: a.$font-size-xxlarge !important;
  color: a.$brown !important;
}

.--event-content-section .description {
  font-size: a.$font-size-large !important;
  color: a.$brown !important;
}

.--event-content-section .content a {
  font-weight: bold !important;
}

.--event-content-section .card {
  margin-bottom: 1.5em !important;
}

.--event-content-section p {
  display: inline;
  font-size: a.$font-size-large !important;
  margin-right: 5px !important;
}

.--event-content-section .description.--custom-card-description__negative {
  display: inline;
  margin-top: 1em;
  font-size: a.$font-size-xlarge !important;
  font-weight: bolder !important;
  color: a.$red !important;
}

.--event-content-section .description.--custom-card-description__positive {
  display: inline;
  margin-top: 1em;
  font-size: a.$font-size-xlarge !important;
  font-weight: bolder !important;
  color: a.$green !important;
}

.--event-content-section .icon-container {
  float: right;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.--event-content-section .icon-container .ui.basic.button {
  margin-left: 1em;
  padding: 0;
}