.--dashboard-layout {
  display: flex;
}

.--dashboard-layout .main-content {
  flex: 1;
  margin-top: 3.5em;
  margin-bottom: 3em;
  padding: 1em !important;
}

@media screen and (max-width: 600px) {
  .--dashboard-layout .main-content {
    flex: 1;
    margin: 0;
  }
}