.--dashboard-layout {
  display: flex;
  position: fixed;
  height: 100% !important;
  width: 100% !important;
}

.--dashboard-layout .main-content {
  flex: 1;
  margin-top: 3.5em;
}

@media screen and (max-width: 600px) {
  .--dashboard-layout .main-content {
    flex: 1;
    padding: 0 !important;
    height: calc(100vh - 3.5em - 5em);
    overflow: hidden;
  }

  .--page-wrapper {
    margin: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
}