@use "../assets/css/reset.css";
@use "./components/normalize";
@use "./components/signup";
@use "./components/login";

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: #ece9e6;
  background: -webkit-linear-gradient(to top, #ffffff, #ece9e6);
  background: linear-gradient(to bottom, #ffffff, #ece9e6);
}
