@use '../../../app/abstracts' as a;

.--addEventForm__modal {
  padding: 0;
}

.--addEventForm__modal .content .fields {
  justify-content: space-between;
  align-items: center;
}

.--addEventForm__modal input {
  width: 100% !important;
  border: 1px solid #c9c9c9 !important;
}

.--addEventForm__modal input::placeholder {
  color: a.$gray !important;
  font-size: a.$font-size-large !important;
}

.--addEventForm__submitButtons {
  margin: 10px auto !important;
  width: 50% !important;
}

@media (max-width: 600px) {
  .--addEventForm__modal .fields {
    margin-bottom: 1em !important;
  }

  .--addEventForm__modal span i {
    display: none;
  }

  .--addEventForm__modal .react-datepicker-wrapper {
    width: 50%;
  }

  .--addEventForm__modal .react-datepicker__input-container {
    width: 105px;
  }
}