@use '../../../app/abstracts' as a;

.--add-form__modal {
  padding: 0;
}

.--add-form__modal .content .fields {
  justify-content: space-between;
  align-items: center;
}

.--add-form__modal input {
  width: 100% !important;
  border: 1px solid #c9c9c9 !important;
}

.--add-form__modal input::placeholder {
  color: a.$gray !important;
  font-size: a.$font-size-large !important;
}

.--addEventForm__submitButtons {
  margin: 10px auto !important;
  width: 50% !important;
}

@media (max-width: 600px) {
  .--add-form__modal .fields {
    margin-bottom: 1em !important;
  }

  .--add-form__modal .content .field {
    width: 50%;
  }

  .--add-form__modal span i {
    display: none;
  }
}