@use '../../../app/abstracts' as a;

.--appSidebar {
  width: 5em !important;
  display: flex !important;
  text-align: center !important;
  align-items: center !important;
  overflow: hidden;
  z-index: 1000;
}

.--appSidebar h2 {
  padding: 0.1em 1em !important;
  font-size: a.$font-size-xxxlarge;
  color: a.$beige;
  border-bottom: 1px solid a.$darker-gray;
}

.--appSidebar .nav-item {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: a.$white;
  font-size: a.$font-size-medium;
  transition: color 0.3s, transform 0.1s ease-in;
}

.--appSidebar .nav-item:hover {
  transform: scale(1.1);
}

.--appSidebar .nav-item.active {
  color: a.$beige;
}

.--appSidebar .nav-item:hover {
  color: a.$beige !important;
}

.--appSidebar .nav-item .icon {
  margin: 0 !important;
}

@media (max-width: 600px) {
  .--appSidebar {
    display: none !important;
  }
}


//.canvas-container {
//  width: 50% !important;
//  height: 50% !important;
//}
//
//.lower-canvas {
//  width: 100% !important;
//  height: 100% !important;
//}
//.upper-canvas {
//  width: 100% !important;
//  height: 100% !important;
//}