@use '../../../app/abstracts' as a;

.bottom-nav {
  display: none;
}

@media (max-width: 600px) {
  .bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 5em !important;
    background-color: #1b1c1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    width: 5em;
    color: a.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s;
  }

  .nav-item.active {
    color: a.$beige;
  }

  .bottom-nav .icon {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8em !important;
  }
}