@use '../../../app/abstracts' as a;

.--navbar {
  width: 100%;
  height: 3.5em;
  background-color: a.$dark-gray;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: 1000;
}

.--navbar .nav-item {
  color: a.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s;
  margin-top: 5px;
  padding: 1em;
}

.--navbar .nav-item span {
  margin-top: 2px;
}

.--navbar .nav-item.active {
  color: a.$beige;
}

.--navbar .nav-item:hover {
  color: a.$beige;
}

@media (max-width: 600px) {
  .--navbar {
    display: none !important;
  }
}