.--event-form-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.ui.input {
  width: 15%;
  border: 1px solid #969696 !important;
  border-radius: 2em !important;
}

.ui.input input {
  border-radius: 2em !important;
}

.ui.input input::placeholder {
  color: #969696 !important;
  font-size: 18px !important;
}

.--event-form-section button {
  margin-left: auto;
  background: #F0BB78 !important;
  border-radius: 2em !important;
}

.--pagination-container {
  margin: 3em;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .--event-form-section {
    flex-direction: row;
    align-items: start;
  }

  .ui.input {
    width: 50%;
    border: 1px solid #969696 !important;
    border-radius: 2em !important;
  }

  .ui.input input {
    border-radius: 2em !important;
  }

  .ui.input input::placeholder {
    color: #969696 !important;
    font-size: 18px !important;
  }

  .--event-form-section > button {
    align-self: end;
  }

  .--pagination-container {
    display: none;
  }
}
