@use '../../../app/abstracts' as a;

.main-content header {
  margin: 0;
  padding: 1em;
}

.--event-form-section {
  display: flex;
  padding: 0 1em;
  justify-content: space-between;
}

.--event-form-section input::placeholder {
  color: a.$gray !important;
  font-size: a.$font-size-xlarge !important;
}

.--event-content-section {
  margin: 0 !important;
}

.--event-content-section .content p {
  color: a.$brown !important;
}

.--pagination-container {
  margin: 3em;
  display: flex;
  justify-content: center;
}

.--no-events-message {
  padding: 1em !important;
}

.--no-events-message .content {
  font-size: a.$font-size-xlarge !important;
}

@media screen and (max-width: 600px) {
  .main-content header h1 {
    font-size: a.$font-size-xxlarge !important;
  }

  .--event-form-section input {
    border-radius: 2em !important;
    border: 1px solid a.$gray !important;
  }

  .--event-form-section input::placeholder {
    color: a.$gray !important;
    font-size: a.$font-size-large !important;
  }

  .--pagination-container {
    display: none;
  }
}
