.--custom-align-center {
  text-align: center;
}

.--custom-button-submit {
  font-size: 1.2em !important;
  padding: 10px 20px;
  width: auto;
  min-width: 300px;
  height: 50px;
}

.--form-button-text-size {
  font-size: 1.1em !important;
}