.--auth-layout {
  margin: 5rem auto !important;
  width: 100%;
  max-width: 437px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  justify-items: baseline !important;
  padding: 2em !important;
}