.--auth-layout {
  margin: 5rem auto !important;
  width: 100%;
  max-width: 437px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 30px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  padding: 2em !important;
}

.ui.text.container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .ui.text.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 !important;
  }

  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
  }

  .--auth-layout {
    height: 100vh !important;
    width: 100vw !important;
  }
}
