.react-datepicker-wrapper {
  width: 38% !important;
  margin-left: 7px !important;
}

.--custom-input__checkbox {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: right;
}

@media screen and (max-width: 600px) {
  .react-datepicker-wrapper {
    width: 46% !important;
  }
}